<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GCM_SENDER_ID</key>
	<string>149172503251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.camnee.Coupe-stuff</string>
	<key>PROJECT_ID</key>
	<string>coupestugg</string>
	<key>STORAGE_BUCKET</key>
	<string>coupestugg.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:149172503251:ios:c1bc80db0058dab8a88a26</string>
	<key>API_KEY</key>
	<string>AIzaSyB-dwZFfyyFVOqBuT6vGynrcFAdcZrqefM</string>
</dict>
</plist>
